body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1000px;
}

.topicContainer {
  display: flex;
  flex-direction: row;
}

.topicImage {
    width: 90%;
    height: auto;
}



.topicTitle {
  font-family: 'grundfos-bold', sans-serif;
  color: #333;
}

.topicUnderTitle {
  font-family: 'Lucida Grande',Tahoma,sans-serif;
  color: #727272;
}

.stars {
  margin-top: 100px;
}

.checked {
  color: #3386c3;
}

.topicAssign {
  display: flex;
}

.assignments {
  font-family: 'grundfos-bold', sans-serif;
  color: #333;
}

.topicBorder {
  display: flex;
}

.topicLine {
  border-bottom: 1px solid #333;
  width: 100%;
}

.topicTask1 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topicTask2 {
  display: flex;
  flex-direction: row;
}

.tasks {
  border: 1px solid #333;
  width: 50%;
  height: auto;
  margin-left: 20px;
}

.topicTitleVideo {
  font-family: 'grundfos-bold', sans-serif;
  color: #333;
}

.topicHeaderVideo {
  font-family: 'Lucida Grande',Tahoma,sans-serif;
  color: #727272;
}

/** POP UP VIDEO */

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/** videoModal **/
#videoModal {
  border-radius: 0;
  width: 860px;
  margin:auto;
}
  #videoModal .modal-header {
    background: #000;
    border: 0;
    color: #333;
    position: relative;
		height:35px;
    }
    #videoModal .modal-header h3 {
      font-size: 18px;
      line-height: 22px;
      font-family: 'grundfos-bold', sans-serif;
      color: white;
	    padding:7px;
    }
  #videoModal .modal-body {
    height: 489px;
    padding: 0;
    max-height: none;
    overflow: hidden;
  }
  #videoModal .modal-footer:empty {
    display: none;
  }
  #videoModal .close {
    background: #333;
    color: #fff;
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
  }

  iframe {
    width: 900px;
    height: 870px;
    background-color: white;
  }

  .modal-footer {
    width: 860px;
    height: 89px;
    background-color: white;
  }

  .videoTitle {
    font-family: 'grundfos-bold', sans-serif;
    color: white;
  }
  .videoText {
    margin-top: -5px;
    font-family: 'Lucida Grande',Tahoma,sans-serif;
    color: black;
  }
  a:link, a:visited {
    text-decoration: none;
  }


    /* BUTTON POP UP QUIZ */
    .box {
      width: 40%;
      margin: 0 auto;
      background: rgba(255,255,255,0.2);
      padding: 35px;
      border: 2px solid #fff;
      border-radius: 20px/50px;
      background-clip: padding-box;
      text-align: center;

    }

    .button {
      font-size: 1em;
      padding: 15px;
      background-color: #4aa22c;
      border-radius: 5px/10px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-family: 'Lucida Grande',Tahoma,sans-serif;
      font-size: 20px;
      color: white;
    }
    .button:hover {
      background: #6eb556;
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }

    .popup {
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 30%;
      position: relative;
      transition: all 5s ease-in-out;
    }

    .popup h2 {
      margin-top: 0;
      color: #333;
      font-family: 'grundfos-bold', sans-serif;
    }
    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .popup .close:hover {
      color: #06D85F;
    }
    .popup .content {
      max-height: 30%;
      overflow: auto;
    }

    @media screen and (max-width: 700px){
      .box{
        width: 70%;
      }
      .popup{
        width: 70%;
      }
    }
